* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  list-style-type: none;
}
a {
  text-decoration: none;
}
::-webkit-scrollbar {
  height: 0;
  width: 0;
}
.container {
  height: 570px;
  max-width: 350px;
  margin: 150px auto;
  padding-top: 15px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.display {
  height: 70px;
  max-width: 330px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 25px;
  margin: 0 auto;
  font-size: 30px;
  padding: 20px 30px;
  overflow-x: auto;
  white-space: nowrap;
}
.digits {
  height: 380px;
  max-width: 340px;
  margin: 0 auto;
  margin-top: 50px;
  border-radius: 5px;
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 10px;
  row-gap: 10px;
  position: relative;
}

.dgt_btn {
  height: 60px;
  width: 60px;
  background-color: #000;
  border-radius: 50%;
  color: #fff;
  border: 0.5px solid transparent;
  font-size: 25px;
  font-weight: bold;
}
.light {
  height: 60px;
  width: 130px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 5px 0;
}

.light div {
  height: 100%;
  width: 1px;
  background-color: #fff;
  opacity: 0.5;
}

#del {
  font-size: 18px;
  background-color: red;
}
#clear {
  font-size: 18px;
  background-color: rgba(0, 128, 0, 0.539);
}
#ans {
  width: 120px;
  border-radius: 25px;
  margin-left: 180px;
}

@media (max-width: 420px) {
  .container {
    width: 330px;
    height: auto;
    padding-bottom: 60px;
  }
  .display {
    margin: 0 20px;
  }
  .dgt_btn:last-child {
    width: 135px;
  }
}
