* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  list-style-type: none;
}
a {
  text-decoration: none;
}
::-webkit-scrollbar{
  height: 0;
  width: 0;
}
.container {
  height: 600px;
  max-width: 450px;
  margin: 150px auto;
  padding-top: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.display {
  height: 70px;
  max-width: 410px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 25px;
  margin: 0 auto;
  font-size: 30px;
  padding: 20px 30px;
  overflow-x:auto ;
  white-space: nowrap;
}
.digits {
  height: 430px;
  max-width: 410px;
  margin: 0 auto;
  margin-top: 50px;
  border-radius: 5px;
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 15px;
}

.dgt_btn {
  height: 80px;
  width: 60px;
  background-color: #000;
  border-radius: 5px;
  color: #fff;
  border: 0.5px solid transparent;
  font-size: 25px;
  font-weight: bold;
}
.dgt_btn:last-child {
  width: 120px;
  background-color: rgba(0, 0, 255, 0.62);
}
.dgt_btn:first-child {
  background-color: green;
}
.dgt_btn:nth-child(18) {
  background-color: red;
}

@media (max-width: 420px) {
  .container {
  height: auto;
  padding-bottom: 60px;
  }
  .display{
    margin: 0 20px;
  }
  .dgt_btn:last-child {
  width: 135px;
}
}
